:root {
    --primary: #F8F8F8;
    --secondary: #242424;
    --tertiary: #6D6D6D;
    --quadratory: #B0B0B0;
    --quadlupatory: #EFEFEF;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


    .section-bottom {
        background-color: var(--secondary);
        width: 100%;
        height: 3rem;
    }
    
    .section-bottom img {
        width: 40%;
        height: 100%;
    }

/* Medium (m) */
@media (min-width: 744px) {
    /* Your styles for the medium breakpoint here */
    body {
        width: 100vw;
    }

    .section-bottom {
        background-color: var(--secondary);
        width: 100%;
        height: 4rem;
    }
    
    .section-bottom img {
        width: 30%;
        height: 100%;
    }

    .section-bottom img {
        width: 12rem;
        
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    body {
        width: 100vw;
    }

    .section-bottom {
        background-color: var(--secondary);
        width: 100%;
    }

    .section-bottom {
        display: flex;
        height: 5rem;
    }

    .section-bottom img {
        width: 80%;
        height: 5rem;
        float: left;
    }
}