* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.createBlogForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.blogList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.blogList li{
    margin: 1rem;
}

.blogList img {
    height: 100%;
    width: 100%;
}

.blogList a {
    background-color: inherit;
}

.postCard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li img {
    width: 200px;
    height: 200px;
}

label {
    padding-top: 1rem;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    max-width: 200px;
     /*Max-width var for å få kortene til å bli like  */
}

.seperateMe{
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
}

/* Medium (m) */
@media (min-width: 744px) {
    /* Your styles for the medium breakpoint here */
    body {
        width: 100vw;
        font-size: 1.5rem;
    }

    .blogList li h2 h4{
        margin: 1rem 1rem 1rem 1rem;
    }

    .blogList img {
        height: 300px;
        object-fit: cover;
        width: 100vw;
}
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    body {
        width: 100vw;
    }

    #burgerOpen {
        display: none;
    }
}