* {
    box-sizing: border-box;
    background-color: aliceblue;
}

.createBlogForm {
    display: flex;
    flex-direction: column;
}

.blogList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.postCard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li img {
    width: 200px;
    height: 200px;
}

label {
    padding-top: 1rem;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    max-width: 200px;
     /*Max-width var for å få kortene til å bli like  */
}