:root {
    --primary: #F8F8F8;
    --secondary: #242424;
    --tertiary: #6D6D6D;
    --quadratory: #B0B0B0;
    --quadlupatory: #EFEFEF;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

li {
    list-style-type: none;
    text-decoration: none;
}

li a {
    color: black;
    text-decoration: none;
}

#burgerCloseIcon {
    display: none;
}

.centerMe{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.carrousellSection {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.carrousellSection img {
    width: 100%;
}

#carrousellLeft{
    font-size: 2rem;
    border: none;
    margin-right: 1rem;
    background-color: transparent;
    margin-left: 1rem;
}

#carrousellRight{
    font-size: 2rem;
    border: none;
    margin-left: 1rem;
    background-color: transparent;
    margin-right: 1rem;
}

.blogList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.blogList li{
    margin: 1rem;
}

.blogList img {
    height: 100%;
    width: 100%;
}

.blogList a {
    background-color: inherit;
}


.roboto-regular {
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-weight: 700;
    font-style: normal;
}

/* Medium (m) */
@media (min-width: 744px) {
    /* Your styles for the medium breakpoint here */
    body {
        width: 100vw;
    }
    #carrousellRight {
        font-size: 3rem;
    }
    
    #carrousellLeft {
        font-size: 3rem;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    body {
        width: 100vw;
    }
    .carrousellSection {
        justify-content: center;
    }

    #carrousellRight {
        font-size: 5rem;
    }
    
    #carrousellLeft {
        font-size: 5rem;
    }

    #burgerOpen {
        display: none;
    }
}