:root {
    --primary: #F8F8F8;
    --secondary: #242424;
    --tertiary: #6D6D6D;
    --quadratory: #B0B0B0;
    --quadlupatory: #EFEFEF;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer
}

a {
    text-decoration: none;
    color: var(--secondary);
}

li {
    list-style-type: none;
    text-decoration: none;
}

li a {
    color: black;
    text-decoration: none;
}

#burgerCloseIcon {
    display: none;
}

.centerMe{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.centerMe h2 {
    text-align: center;
    width: 70%;
    padding-bottom: 13rem;
    z-index: 9;
}

.centerBlog {
    display: flex;
    justify-content: center;
}

.centerBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 0 0;
}

.createPost a {
    font-weight: bold;
    font-size: 1.2rem;
}

.carrousellSection {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.seperateMe{
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.carrousellSection img {
    width: 100%;
    border-radius: 1rem;
}

#carrousellLeft{
    font-size: 2rem;
    border: none;
    margin-right: 1rem;
    background-color: transparent;
    margin-left: 1rem;
}

#carrousellRight{
    font-size: 2rem;
    border: none;
    margin-left: 1rem;
    background-color: transparent;
    margin-right: 1rem;
}

.centerThis{
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-bottom: 13rem;
}

.centerThis h3 {
    margin-bottom: 3rem;
}

.blogList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem 14rem 1rem;
    width: 70%;
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: perspective(1000px) translateZ(50px);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 1rem;
}

.blogList:hover {
    /* transform: perspective(1000px) translateZ(70px); */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.blogList h2 {
    margin-top: 0;
}

.blogList li{
    margin: 1rem;
}

.blogList img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.blogList a {
    background-color: inherit;
}

.pagination {
    display: flex;
    justify-content: center;
}

#prevPage {
    width: 8rem;
    margin: 2rem;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1.2rem;
}

#pageIndicator {
    margin-top: 2rem;
}

#nextPage {
    width: 8rem;
    margin: 2rem;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1.2rem;
}

.deleteButton{
    background-color: var(--secondary);
    color: var(--primary);
    width: 5rem;
    font-size: 1rem;
}

.roboto-regular {
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-weight: 700;
    font-style: normal;
}

/* Medium (m) */
@media (min-width: 744px) {
    /* Your styles for the medium breakpoint here */
    body {
        width: 100vw;
        font-size: 1.5rem;
    }

    .createPost a {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .carrousellSection img {
        width: 79vw;
        height: 18.75rem;
        object-fit: cover;
    }

    #carrousellRight {
        font-size: 3rem;
    }
    
    #carrousellLeft {
        font-size: 3rem;
    }

    .centerBody {
        width: 100%;
    }
    
    .blogList {
        width: 80%;
    }

    .blogList ul {
        margin-left: 1rem;
    }

    .blogList a {
        width: 75vw;
    }

    .blogList img {
        height: 300px;
        object-fit: cover;
        width: 75vw;
    }

    .pagination {
        margin-bottom: 2rem;
    }

    .deleteButton{
        font-size: 1.5rem;
    }

    #prevPage {
        height: 3rem;
        width: 13rem;
        font-size: 1.5rem;
        }
    
        #nextPage {
        height: 3rem;
        width: 13rem;
        font-size: 1.5rem;
        }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    body {
        width: 100vw;
        font-size: 1.5rem;
        overflow-x: hidden;
    }

    .createPost a {
        font-weight: bold;
        font-size: 2rem;
    }

    .carrousellSection {
        justify-content: center;
    }

    #carrousellRight {
        font-size: 5rem;
    }
    
    #carrousellLeft {
        font-size: 5rem;
    }

    .carrousellSection img {
        width: 75vw;
        height: 18.75rem;
        object-fit: cover;
    }

    .pagination {
        margin-bottom: 3rem;
    }

    #burgerOpen {
        display: none;
    }

    #prevPage {
    height: 5rem;
    width: 15rem;
    font-size: 2rem;
    }

    #pageIndicator {
    padding: 1rem 1rem 0 1rem;
    font-size: 2.5rem;
    }

    #nextPage {
    height: 5rem;
    width: 15rem;
    font-size: 2rem;
    }
}